.marketplace{
    padding:80px 10%;
    background:#f9f9f9;
}

.marketplace h2{
    text-align:center;
    margin-bottom:10px;
    color:#5b2245;
}

.marketplace p{
    text-align:center;
    margin-bottom:40px;
}

.market-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.product-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    text-align:center;
    padding-bottom:20px;
}

.product-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.product-card h3{
    margin-top:15px;
    color:#5b2245;
}

.product-card button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#6d2d57;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.product-card button:hover{
    background:#8b3d6f;
}